
<nav class="nav">
  <h1><a routerLink="" class="travelapp">TravelApp</a></h1>
  <ul class="left">
    <li><a routerLink=""class="left">Home</a></li>
    <li><a routerLink="hotel" class="left">Book Tickets</a></li>
    <li><a routerLink="" class="left">Travel Packages</a></li>
    <li><a routerLink="" class="left">About Us</a></li>
    <li><a routerLink="" class="left">Contact Us</a></li>
  </ul>
  <ul class="right">
    <li><a routerLink="header" class="right">Signup</a></li>
    <img class src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC1ueC3iCmaW5la1MI4pF2AY2Yp20Utb6bwQ&usqp=CAU" alt="Icon" class="icon">
  </ul>

</nav>

<div class="flight">
  <div class="travel-section">

    <h3 class="travel-text"><a routerLink="flight" class="rightside">FLIGHT BOOKING</a></h3>
  </div>
</div>
<div class="bus">
  <div class="travel-section">
    <h3 class="travel-text"><a routerLink="bus" class="rightside">BUS BOOKING</a></h3>
  </div>
</div>
<div class="car">
  <div class="travel-section">
    <h3 class="travel-text"><a routerLink="car" class="rightside">CAR BOOKING</a></h3>
  </div>
</div>
<div class="hotel">
  <div class="travel-section">
    <h3 class="travel-text"><a routerLink="hotel" class="rightside">HOTEL BOOKING</a></h3>
  </div>
</div>

<div class="container">
<div class="box">
  <div class="top-section">
    <h3 class="seltext">Where?</h3>
    <p class="ans">You can reach us for travel any location</p>
  </div>
  <div class="top-section">
    <h3 class="seltext">When?</h3>
    <p class="ans">You can reach us for plan your trip</p>
  </div>
  <div class="top-section">
    <h3 class="seltext">Transport?</h3>
    <p class="ans">You can reach us for FLIGHT/BUS/TAXI all over country</p>
  </div>
</div>
</div>
<footer>
  Travel Application
</footer>
<router-outlet></router-outlet>
